.modal {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px) grayscale(90%);
  }
.container {
    display: flex;
    flex-direction: column;
    font-size: large;
}
.modal-header {
    background-color: cadetblue;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: cadetblue;
}
